.App {
  text-align: center;
}
#text{
  color:burlywood;
  margin: auto;
  width: 50%;
  padding: 10px;
  
}
.naslov{
  color:darkgreen;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}
#slika{
  width: 150px;
  height:200px;
  float:right;
}
#text2{
  color:burlywood;
  margin: auto;
  width: 50%;
  padding: 10px;
  float:center;
}
form{
  position: relative;
  right: 860px;
  top: -300px;
}
#labbel{
  color:lavender;
}
.footer{
  margin-top: 1rem;
  color: white;
  padding: 1rem;
  background-color: rgb(180, 10, 2);
  position: fixed;
  bottom: 0;
  left: 0;
  opacity: 0.1;
  width: 100%;
  
}